# Node.js dependencies
node_modules/
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Environment variables
.env

# Build artifacts
*.tgz
*.lock

# Temporary files
tmp/
temp/